.postContainer h1 {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: purple;
  font-weight: bold;
  font-size: 36px;
  color: rgb(255, 183, 0)

}
