  a.link {
    color: grey;
  }
  a.link:hover {
    color: #FFFB8A;
  }
  a.nuxt-link-active {
    /* color: #BA44FF; */
    color: #FFFB8A;
    font-weight: bold;
  }
  nav {
    background: -moz-linear-gradient(270deg, rgba(255,209,254,1) 0%, rgba(255,209,254,1) 15%, rgba(186,68,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,209,254,1)), color-stop(15%, rgba(255,209,254,1)), color-stop(100%, rgba(186,68,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(255,209,254,1) 0%, rgba(255,209,254,1) 15%, rgba(186,68,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(255,209,254,1) 0%, rgba(255,209,254,1) 15%, rgba(186,68,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(255,209,254,1) 0%, rgba(255,209,254,1) 15%, rgba(186,68,255,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(255,209,254,1) 0%, rgba(255,209,254,1) 15%, rgba(186,68,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD1FE', endColorstr='#BA44FF',GradientType=0 ); /* ie6-9 */
  }
  @media (max-width: 480px) {
    nav {
      background: #E8D1F5;
    }
  }
